# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle
android/captures/
android/local.properties
android/key.properties
**/android/**/gradle-wrapper.jar
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/ios/Flutter/.last_build_id

# macOS
.DS_Store

# Web
/web/

# Coverage
coverage/
